@font-face {
    font-family: 'Nunito';
    src: url(/static/font/Nunito-VariableFont_wght.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url(/static/font/Nunito-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(/static/font/RobotoSlab-VariableFont_wght.ttf);
}

@keyframes fadeInTab {
    0% {
        clip-path: circle(5px at 100% 10px);
    }
    99% {
        clip-path: circle(200% at 100% 10px);
    }
    100% {
        clip-path: none;
    }
}

:root, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
}

#loading_screen {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #F5EBE0;
    color: #8a817c;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    font-weight: 600;
    font-size: 5vh;
    transition: opacity 1s ease;
}

.loading-screen-finished {
    opacity: 0;
}

.main-tab-content {
    width: 100%;
    height: 100%;
}

.main-tab {
    width: 100vw;
    height: 100vh;
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.selected-main-tab {
    animation-name: fadeInTab;
    animation-duration: 1s;
    pointer-events: all;
}

#messages {
    translate: 0 150%;
    transition: translate 0.5s ease;
    transition-delay: 0.2s;
}

#messages.enabled {
    translate: 0 0;
}

#messages .card-body .btn {
    scale: 0%;
    transition: scale 0.5s ease;
}

#messages .card-body .btn.enabled {
    scale: 100%;
    transition: scale 0.5s ease;
}